/*
  File: styles/Contact.css
  Author: ANAMIKA SHARMA
  StudentID: 301379885
  Date: January 27, 2024
*/
/* src/styles/Contact.css */

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f0f0f0; /* Set your desired background color */
    min-height: 100vh;
  }
  
  .contact-info,
  .contact-form {
    width: 45%;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info h1,
  .contact-form h2 {
    color: #333;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc; /* Set the background color for the form */
    padding: 20px;
    border-radius: 8px;
  }
  
  .contact-form label {
    margin-top: 10px;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    margin-top: 5px;
  }
  
  /* Add some additional styling to the button if needed */
  .contact-form button {
    background-color: #4b0082; /* Purple color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #6a0dad; /* Darker purple on hover */
  }
  