/*
  File: styles/navigation.css
  Author: ANAMIKA SHARMA
  StudentID: 301379885
  Date: January 27, 2024
*/
/* src/styles/navigation.css */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(0, 128, 87); /* Add your preferred background color */
  }
  
  .logo-container img {
    width: 150px; /* Adjust the width as needed */
    height: 200;
    margin-right: 10px; /* Add spacing between logo and navigation links */
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin-right: 35px;
  }
  
  a {
    text-decoration: underline;
    color: white;
    font-size: 45px;
  }
  img {
    width: 150px; /* Adjust the width to increase the size of the logo */
    height: 150px; /* Maintain the aspect ratio */
    margin-right: 10px; /* Add margin for spacing between logo and text */
  }
  